.container {
  min-height: 100vh;
  margin-left: 10vw;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #28282d;
  background-size: cover;
}

.main {
  padding: 25px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 25%;
  height: auto;
}

.icon {
  width: 50%;
  height: auto;
}

.info {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  background-color: #ff684a;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #25252c;
  overflow: hidden;
  margin: 0px auto;
  position: fixed;
  top: 0;
  width: 100%;
}
.headericon {
  height: 16px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #ff684a;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff684a;
  color: white;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
